<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.sharper.dao.PersonMapper" >
	
	<resultMap id="PersonMap" type="cc.sharper.bean.Person">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="loginId" property="loginId" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="queryAll"  resultMap="PersonMap">
		SELECT * FROM person
	</select>
	
	<insert id="addPerson" parameterType="cc.sharper.bean.Person">
		insert into person(id,loginId,password) values(#{id},#{loginId},#{password})
	</insert>
	
	<update id="updatePerson" >
	
	</update>
	
	<delete id="deletePerson" parameterType="java.lang.String" >
			delete from person where id=#{id}
	</delete>
	
	<insert id="batchSave">
	
	</insert>
	
	
	
</mapper>