<html>
    <head>
        <title>京东金融社区</title>
		<link rel="Stylesheet" type="text/css" href="/css/main.css"/>
<style type="text/css">
	
</style>
    </head>
    <body>
        <div id="mainTitle"></div>

        $screen_content

       
       <div id="mainBottom"></div>
       </div>
    </body>
</html>